body, html {
  padding: 0;
  margin: 0;
}

body {
  background: #f4f4f4;
}

.header-wrapper {
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
  padding: 20px;
  width: 90%;
}

.header-wrapper h1 {
  margin: 10px;
}

.header-wrapper input {
  width: 200px;
  border-radius: 5px;
  border: none;
  padding: 2px;
  margin-right: 5px;
}

.header-wrapper button {

  background: lightblue;
  border-radius: 5px;

}

.repos-wrapper {
  border: 1px solid lightgray;
  width: 80%;
  margin: 0 auto;
}

.repo-div {

  border-bottom: 1px solid lightgray;

}

.repo-div {
  display: flex;
  font-size: 0.8em;
}



.grid-1 {
  flex: 1 1 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}



.grid-2 {
  flex: 2 1 60%;
}


.grid-2 ul, .grid-3 ul {
  padding: 0;
}

.grid-2 ul {

  padding-left: 5px;
  
}

.grid-2 ul li, .grid-3 ul li {
  list-style-type:  none;
  padding: 5px;
}

.grid-3 {
  flex: 2 1 30%;
}