body,
html {
  padding: 0;
  margin: 0;
}

body {
  background: #f4f4f4;
  font-family: "News Cycle", sans-serif;
  color: #1d1f20;
}

/***HEADER ***/

.header-wrapper {
  margin: 20px auto;
  margin-bottom: 10px;
  background: white;
  box-shadow: 0px 2px 2px lightgray;
  text-align: center;
  padding: 40px 0;
  width: 70%;
}

.header-wrapper h1 {
  font-family: "Prompt", sans-serif;
  margin: 5px;
}

.header-wrapper small {
  display: block;
  font-size: 10px;
  font-style: italic;
  margin: 5px;
}

.header-wrapper input {
  width: 200px;
  padding: 2px;
  margin-right: 5px;
}

.header-wrapper input:focus,
.header-wrapper button:focus {
  outline: none;
}

.header-wrapper button {
  background: lightblue;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
}

.header-wrapper button:hover {
  background: lightgray;
  cursor: pointer;
}

/*** REPOS ***/

.repos-not-found {
  width: 70%;
  text-align: center;
  border: 1px solid lightgray;
  margin: 0 auto;
}

.repos-wrapper {
  border: 1px solid lightgray;
  width: 70%;
  margin: 0 auto;
}

.repo-div {
  border-bottom: 1px solid lightgray;
}

.repo-div {
  display: flex;
  font-size: 0.8em;
  background: white;
}

.grid-1 {
  flex: 1 1 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-1 a img {
  border-radius: 100%;
}

.grid-2 {
  flex: 2 1 60%;
}

.grid-2 ul,
.grid-3 ul {
  padding: 0;
}

.grid-2 ul {
  padding-left: 5px;
}

.grid-2 ul li,
.grid-3 ul li {
  list-style-type: none;
  padding: 5px;
}

.grid-3 {
  flex: 2 1 30%;
}

.grid-3 button:hover {
  background: lightgray;
  cursor: pointer;
}

/***LOADING***/

.loading {
  width: 70%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid lightgray;
  border-bottom: 2px solid rgb(25, 119, 151);
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .repo-div {
    flex-direction: column;
    padding: 20px;
  }
  .grid-1 {
    flex: 1 1 100%;
  }

  .grid-2 {
    flex: 1 1 100%;
  }

  .grid-3 {
    flex: 1 1 100%;
  }
}
